@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
}

.content-medium {
  max-width: 60rem;
}

.font-big {
  font-size: 1.2rem;
}

#dashboard {
  border: none;
}

.dashboard-iframe {
  height: 100% !important;
  width: calc(100% + 30px) !important;
  margin-left: -15px;
  margin-right: -15px;
}

.sidebar-collapsed {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar-collapsed a {
  color: rgba(0, 0, 0, 0.65);
}

.navbar-brand {
  font-size: 1rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.brand-image {
  display: inline-block !important;
  height: 2.5rem;
  vertical-align: middle !important;
}

.brand-text {
  margin-right: 0.25rem !important;
  padding: 0.5rem;
  font-size: 1.125rem;
  vertical-align: middle !important;
}

.text-black {
  color: #000 !important;
}

.archived {
  opacity: 0.7;
}

@media (min-width: 768px) {
  .rbt-menu {
    min-width: 500px !important;
  }

  /*
  .os-content {
    flex: 1 0 !important;
    max-width: 100%;
  }
  */

  .dashboard-iframe {
    width: calc(100% + 6rem) !important;
    margin-left: -3rem;
    margin-right: -3rem;
  }
}

td > strong > small {
  color: #555;
}

.fake-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.tab-container {
  padding: 1em;
}

.showroom-inner {
  font-size: 80%;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  background: #f9f9f9;
}

.showroom-inner::-webkit-scrollbar {
  display: none;
}

/* Dropzone */

.dropzone,
.dropzone-active,
.dropzone-reject {
  background-color: #f3f3f3;
  padding: 1em;
  border-width: 2px;
  border-color: #666;
  border-style: dashed;
  border-radius: 5px;
}

.dropzone-active {
  background-color: #b6d8c4;
}

.dropzone-reject {
  background-color: #dfbdb5;
}

/* React datepicker */
.react-datepicker {
  font-size: 1em;
}
.react-datepicker__header {
  padding-top: 0.8em;
}
.react-datepicker__month {
  margin: 0.4em 1em;
}
.react-datepicker__day-name,
.react-datepicker__day {
  width: 1.9em;
  line-height: 1.9em;
  margin: 0.166em;
}
.react-datepicker__current-month {
  font-size: 1em;
}
.react-datepicker__navigation {
  top: 1em;
  line-height: 1.7em;
  border: 0.45em solid transparent;
}
.react-datepicker__navigation--previous {
  border-right-color: #ccc;
  left: 1em;
}
.react-datepicker__navigation--next {
  border-left-color: #ccc;
  right: 1em;
}

.react-datepicker-popper {
  z-index: 10;
}

/* React table */
.ReactTable .rt-tbody .rt-td {
  font-size: 0.9em;
}

.ReactTable .rt-thead .rt-th {
  font-size: 0.9em;
}

thead > tr.border-top-0 > th {
  border-top: 0 !important;
}

th.measurement {
  min-width: 500px;
}

.public_fixedDataTableCell_cellContent {
  font-size: 0.9em;
}

table.nowrap > tbody > tr > td {
  white-space: nowrap;
}
