// Override default variables before the import
$body-bg: #fff;
$primary: #de5555;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.custom-element {
  color: gray('60');
  background-color: theme-color('light');
}
