/*!
 * Bootstrap Docs (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under the Creative Commons Attribution 3.0 Unported License. For
 * details, see https://creativecommons.org/licenses/by/3.0/.
 */

.os-navbar {
  min-height: 4rem;
  background-color: #fbfcfc; /* organization */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 991.98px) {
  .os-navbar {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .os-navbar .navbar-nav-scroll {
    max-width: 100%;
    height: 2.5rem;
    margin-top: 0.25rem;
    overflow: hidden;
    font-size: 0.875rem;
  }
  .os-navbar .navbar-nav-scroll .navbar-nav {
    padding-bottom: 2rem;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}

.os-navbar .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #797d7f; /* organization */
}

.os-navbar .navbar-nav .nav-link.active,
.os-navbar .navbar-nav .nav-link:hover {
  color: #909497; /* organization */
  background-color: transparent;
}

.os-navbar .navbar-nav .nav-link.active {
  font-weight: 500;
}

.os-navbar .navbar-nav-svg {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-top;
}

.os-navbar .dropdown-menu {
  font-size: 0.875rem;
}

.os-navbar .dropdown-item.active {
  font-weight: 500;
  color: #212529;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23292b2c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0.4rem 0.6rem;
  background-size: 0.75rem 0.75rem;
}

.os-masthead {
  position: relative;
  padding: 3rem 15px;
}

.os-masthead h1 {
  line-height: 1;
}

.os-masthead .btn {
  width: 100%;
  padding: 0.8rem 2rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.os-masthead .carbonad {
  margin-top: 0 !important;
  margin-bottom: -3rem !important;
}

@media (min-width: 576px) {
  .os-masthead {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .os-masthead .carbonad {
    margin-bottom: 0 !important;
  }
}

@media (min-width: 768px) {
  .os-masthead h1 {
    font-size: 4rem;
  }
  .os-masthead .carbonad {
    margin-top: 3rem !important;
  }
}

.half-rule {
  width: 6rem;
  margin: 2.5rem 0;
}

.masthead-followup .os-clipboard {
  display: none;
}

.masthead-followup .highlight {
  padding: 0.5rem 0;
  background-color: transparent;
}

#carbonads {
  position: static;
  display: block;
  max-width: 400px;
  padding: 15px 15px 15px 160px;
  margin: 2rem 0;
  overflow: hidden;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.05);
}

#carbonads a {
  color: #333;
  text-decoration: none;
}

@media (min-width: 576px) {
  #carbonads {
    max-width: 330px;
    border-radius: 4px;
  }
}

.carbon-img {
  float: left;
  margin-left: -145px;
}

.carbon-poweredby {
  display: block;
  color: #777 !important;
}

.os-content {
  -ms-flex-order: 1;
  order: 1;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .os-content {
    min-height: 0px;
  }
}

.os-content > h2[id],
.os-content > h3[id],
.os-content > h4[id] {
  pointer-events: none;
}

.os-content > h2[id] > a,
.os-content > h2[id] > div,
.os-content > h3[id] > a,
.os-content > h3[id] > div,
.os-content > h4[id] > a,
.os-content > h4[id] > div {
  pointer-events: auto;
}

.os-content > h2[id]::before,
.os-content > h3[id]::before,
.os-content > h4[id]::before {
  display: block;
  height: 6rem;
  margin-top: -6rem;
  visibility: hidden;
  content: '';
}

.os-content > table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}

@media (max-width: 991.98px) {
  .os-content > table {
    display: block;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .os-content > table.table-bordered {
    border: 0;
  }
}

.os-content > table > tbody > tr > td,
.os-content > table > tbody > tr > th,
.os-content > table > tfoot > tr > td,
.os-content > table > tfoot > tr > th,
.os-content > table > thead > tr > td,
.os-content > table > thead > tr > th {
  padding: 0.75rem;
  vertical-align: top;
  border: 1px solid #dee2e6;
}

.os-content > table > tbody > tr > td > p:last-child,
.os-content > table > tbody > tr > th > p:last-child,
.os-content > table > tfoot > tr > td > p:last-child,
.os-content > table > tfoot > tr > th > p:last-child,
.os-content > table > thead > tr > td > p:last-child,
.os-content > table > thead > tr > th > p:last-child {
  margin-bottom: 0;
}

.os-content > table td:first-child > code {
  white-space: nowrap;
}

.os-content > h2:not(:first-child) {
  margin-top: 3rem;
}

.os-content > h3 {
  margin-top: 1.5rem;
}

.os-content > ol li,
.os-content > ul li {
  margin-bottom: 0.25rem;
}

@media (min-width: 992px) {
  .os-content > ol,
  .os-content > p,
  .os-content > ul {
    max-width: 80%;
  }
}

.os-title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 300;
}

@media (min-width: 576px) {
  .os-title {
    font-size: 3rem;
  }
}

.os-lead {
  font-size: 1.125rem;
  font-weight: 300;
}

@media (min-width: 576px) {
  .os-lead {
    max-width: 80%;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
}

.os-text-purple {
  color: #563d7c;
}

.os-text-purple-bright {
  color: #7952b3;
}

#skippy {
  display: block;
  padding: 1em;
  color: #fff;
  background-color: #563d7c;
  outline: 0;
}

#skippy .skiplink-text {
  padding: 0.5em;
  outline: 1px dotted;
}

.os-toc {
  -ms-flex-order: 2;
  order: 2;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 0.875rem;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .os-toc {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    height: calc(100vh - 4rem);
    overflow-y: auto;
  }
}

.section-nav {
  padding-left: 0;
  border-left: 1px solid #eee;
}

.section-nav ul {
  padding-left: 1rem;
}

.section-nav ul ul {
  display: none;
}

.toc-entry {
  display: block;
}

.toc-entry a {
  display: block;
  padding: 0.125rem 1.5rem;
  color: #99979c;
}

.toc-entry a:hover {
  color: #007bff;
  text-decoration: none;
}

.os-sidebar {
  -ms-flex-order: 0;
  order: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .os-sidebar {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    min-height: calc(100vh - 4rem);
  }
}

@media (min-width: 1200px) {
  .os-sidebar {
    -ms-flex: 0 1 320px;
    flex: 0 1 320px;
  }
}

.os-links {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .os-links {
      max-height: calc(100vh - 9rem);
      overflow-y: auto;
    }
  }
}

@media (min-width: 768px) {
  .os-links {
    display: block !important;
  }
}

.os-search {
  position: relative;
  padding: 1rem 15px;
  margin-right: -15px;
  margin-left: -15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.os-search .form-control:focus {
  /*border-color: #7952b3;*/
  /*box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);*/
}

.os-search-docs-toggle {
  line-height: 1;
  color: #212529;
}

.os-sidenav {
  display: none;
}

.os-toc-link {
  display: block;
  padding: 0.25rem 1.5rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.65);
}

.os-toc-link:hover {
  color: rgba(0, 0, 0, 0.85);
  text-decoration: none;
}

.os-toc-item.active {
  margin-bottom: 1rem;
}

.os-toc-item.active:not(:first-child) {
  margin-top: 1rem;
}

.os-toc-item.active > .os-toc-link {
  color: rgba(0, 0, 0, 0.85);
}

.os-toc-item.active > .os-toc-link:hover {
  background-color: transparent;
}

.os-toc-item.active > .os-sidenav {
  display: block;
}

.os-sidebar .nav > li > a {
  display: block;
  padding: 0.25rem 1.5rem;
  font-size: 90%;
  color: rgba(0, 0, 0, 0.65);
}

.os-sidebar .nav > li > a:hover {
  color: rgba(0, 0, 0, 0.85);
  text-decoration: none;
  background-color: transparent;
}

.os-sidebar .nav > .active:hover > a,
.os-sidebar .nav > .active > a {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
  background-color: transparent;
}

.os-footer {
  font-size: 85%;
  text-align: center;
  background-color: #f7f7f7;
}

.os-footer a {
  font-weight: 500;
  color: #495057;
}

.os-footer a:focus,
.os-footer a:hover {
  color: #007bff;
}

.os-footer p {
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .os-footer {
    text-align: left;
  }
}

.os-footer-links {
  padding-left: 0;
  margin-bottom: 1rem;
}

.os-footer-links li {
  display: inline-block;
}

.os-footer-links li + li {
  margin-left: 1rem;
}

.os-example-row .row > .col,
.os-example-row .row > [class^='col-'] {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

.os-example-row .row + .row {
  margin-top: 1rem;
}

.os-example-row .flex-items-bottom,
.os-example-row .flex-items-middle,
.os-example-row .flex-items-top {
  min-height: 6rem;
  background-color: rgba(255, 0, 0, 0.1);
}

.os-example-row-flex-cols .row {
  min-height: 10rem;
  background-color: rgba(255, 0, 0, 0.1);
}

.os-highlight {
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.15);
}

.example-container {
  width: 800px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.example-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.example-content-main {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .example-content-main {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .example-content-main {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}

.example-content-secondary {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .example-content-secondary {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .example-content-secondary {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

.os-example-container {
  min-width: 16rem;
  max-width: 25rem;
  margin-right: auto;
  margin-left: auto;
}

.os-example-container-header {
  height: 3rem;
  margin-bottom: 0.5rem;
  background-color: #fff;
  border-radius: 0.25rem;
}

.os-example-container-sidebar {
  float: right;
  width: 4rem;
  height: 8rem;
  background-color: #80ff;
  border-radius: 0.25rem;
}

.os-example-container-body {
  height: 8rem;
  margin-right: 4.5rem;
  background-color: #957bbe;
  border-radius: 0.25rem;
}

.os-example-container-fluid {
  max-width: none;
}

.os-example {
  position: relative;
  padding: 1rem;
  margin: 1rem -15px 0;
  border: solid #f8f9fa;
  border-width: 0.2rem 0 0;
}

.os-example::after {
  display: block;
  clear: both;
  content: '';
}

@media (min-width: 576px) {
  .os-example {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 0.2rem;
  }
}

.os-example + .clipboard + .highlight,
.os-example + .highlight {
  margin-top: 0;
}

.os-example + p {
  margin-top: 2rem;
}

.os-example .pos-f-t {
  position: relative;
  margin: -1rem;
}

@media (min-width: 576px) {
  .os-example .pos-f-t {
    margin: -1.5rem;
  }
}

.os-example .custom-file-input:lang(es) ~ .custom-file-label::after {
  content: 'Elegir';
}

.os-example > .form-control + .form-control {
  margin-top: 0.5rem;
}

.os-example > .alert + .alert,
.os-example > .nav + .nav,
.os-example > .navbar + .navbar,
.os-example > .progress + .btn,
.os-example > .progress + .progress {
  margin-top: 1rem;
}

.os-example > .dropdown-menu:first-child {
  position: static;
  display: block;
}

.os-example > .form-group:last-child {
  margin-bottom: 0;
}

.os-example > .close {
  float: none;
}

.os-example-type .table .type-info {
  color: #999;
  vertical-align: middle;
}

.os-example-type .table td {
  padding: 1rem 0;
  border-color: #eee;
}

.os-example-type .table tr:first-child td {
  border-top: 0;
}

.os-example-type h1,
.os-example-type h2,
.os-example-type h3,
.os-example-type h4,
.os-example-type h5,
.os-example-type h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.os-example-bg-classes p {
  padding: 1rem;
}

.os-example > img + img {
  margin-left: 0.5rem;
}

.os-example > .btn-group {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.os-example > .btn-toolbar + .btn-toolbar {
  margin-top: 0.5rem;
}

.os-example-control-sizing input[type='text'] + input[type='text'],
.os-example-control-sizing select {
  margin-top: 0.5rem;
}

.os-example-form .input-group {
  margin-bottom: 0.5rem;
}

.os-example > textarea.form-control {
  resize: vertical;
}

.os-example > .list-group {
  max-width: 400px;
}

.os-example .fixed-top,
.os-example .sticky-top {
  position: static;
  margin: -1rem -1rem 1rem;
}

.os-example .fixed-bottom {
  position: static;
  margin: 1rem -1rem -1rem;
}

@media (min-width: 576px) {
  .os-example .fixed-top,
  .os-example .sticky-top {
    margin: -1.5rem -1.5rem 1rem;
  }
  .os-example .fixed-bottom {
    margin: 1rem -1.5rem -1.5rem;
  }
}

.os-example .pagination {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.modal {
  z-index: 1072;
}

.modal .popover,
.modal .tooltip {
  z-index: 1073;
}

.modal-backdrop {
  z-index: 1071;
}

.os-example-modal {
  background-color: #fafafa;
}

.os-example-modal .modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block;
}

.os-example-modal .modal-dialog {
  left: auto;
  margin-right: auto;
  margin-left: auto;
}

.os-example-tabs .nav-tabs {
  margin-bottom: 1rem;
}

.os-example-popover-static {
  padding-bottom: 1.5rem;
  background-color: #f9f9f9;
}

.os-example-popover-static .popover {
  position: relative;
  display: block;
  float: left;
  width: 260px;
  margin: 1.25rem;
}

.tooltip-demo a {
  white-space: nowrap;
}

.os-example-tooltip-static .tooltip {
  position: relative;
  display: inline-block;
  margin: 10px 20px;
  opacity: 1;
}

.scrollspy-example {
  position: relative;
  height: 200px;
  margin-top: 0.5rem;
  overflow: auto;
}

.scrollspy-example-2 {
  position: relative;
  height: 350px;
  overflow: auto;
}

.os-example-border-utils [class^='border'] {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  margin: 0.25rem;
  background-color: #f5f5f5;
}

.os-example-border-utils-0 [class^='border'] {
  border: 1px solid #dee2e6;
}

.highlight {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #f8f9fa;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

@media (min-width: 576px) {
  .highlight {
    padding: 1.5rem;
  }
}

.os-content .highlight {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 576px) {
  .os-content .highlight {
    margin-right: 0;
    margin-left: 0;
  }
}

.highlight pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
}

.highlight pre code {
  font-size: inherit;
  color: #212529;
}

.btn-os-primary {
  font-weight: 500;
  color: #7952b3;
  border-color: #7952b3;
}

.btn-os-primary:active,
.btn-os-primary:hover {
  color: #fff;
  background-color: #7952b3;
  border-color: #7952b3;
}

.btn-os-primary:focus {
  box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);
}

.btn-os-download {
  font-weight: 500;
  color: #ffe484;
  border-color: #ffe484;
}

.btn-os-download:active,
.btn-os-download:hover {
  color: #2a2730;
  background-color: #ffe484;
  border-color: #ffe484;
}

.btn-os-download:focus {
  box-shadow: 0 0 0 3px rgba(255, 228, 132, 0.25);
}

.os-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: 0.25rem;
  border-radius: 0.25rem;
}

.os-callout h4 {
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.os-callout p:last-child {
  margin-bottom: 0;
}

.os-callout code {
  border-radius: 0.25rem;
}

.os-callout + .os-callout {
  margin-top: -0.25rem;
}

.os-callout-info {
  border-left-color: #5bc0de;
}

.os-callout-info h4 {
  color: #5bc0de;
}

.os-callout-warning {
  border-left-color: #f0ad4e;
}

.os-callout-warning h4 {
  color: #f0ad4e;
}

.os-callout-danger {
  border-left-color: #d9534f;
}

.os-callout-danger h4 {
  color: #d9534f;
}

.os-examples .img-thumbnail {
  margin-bottom: 0.75rem;
}

.os-examples h4 {
  margin-bottom: 0.25rem;
}

.os-examples p {
  margin-bottom: 1.25rem;
}

@media (max-width: 480px) {
  .os-examples {
    margin-right: -0.75rem;
    margin-left: -0.75rem;
  }
  .os-examples > [class^='col-'] {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
}

.os-browser-bugs td p {
  margin-bottom: 0;
}

.os-browser-bugs th:first-child {
  width: 18%;
}

.os-brand-logos {
  display: table;
  width: 100%;
  margin-bottom: 1rem;
  overflow: hidden;
  color: #563d7c;
  background-color: #f9f9f9;
  border-radius: 0.25rem;
}

.os-brand-item {
  padding: 4rem 0;
  text-align: center;
}

.os-brand-item + .os-brand-item {
  border-top: 1px solid #fff;
}

.os-brand-logos .inverse {
  color: #fff;
  background-color: #563d7c;
}

.os-brand-item h1,
.os-brand-item h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.os-brand-item .os-booticon {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .os-brand-item {
    display: table-cell;
    width: 1%;
  }
  .os-brand-item + .os-brand-item {
    border-top: 0;
    border-left: 1px solid #fff;
  }
  .os-brand-item h1 {
    font-size: 4rem;
  }
}

.color-swatches {
  margin: 0 -5px;
  overflow: hidden;
}

.color-swatch {
  float: left;
  width: 4rem;
  height: 4rem;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  border-radius: 0.25rem;
}

@media (min-width: 768px) {
  .color-swatch {
    width: 6rem;
    height: 6rem;
  }
}

.color-swatches .os-purple {
  background-color: #563d7c;
}

.color-swatches .os-purple-light {
  background-color: #cbbde2;
}

.color-swatches .os-purple-lighter {
  background-color: #e5e1ea;
}

.color-swatches .os-gray {
  background-color: #f9f9f9;
}

.swatch-blue {
  color: #fff;
  background-color: #007bff;
}

.swatch-indigo {
  color: #fff;
  background-color: #6610f2;
}

.swatch-purple {
  color: #fff;
  background-color: #6f42c1;
}

.swatch-pink {
  color: #fff;
  background-color: #e83e8c;
}

.swatch-red {
  color: #fff;
  background-color: #dc3545;
}

.swatch-orange {
  color: #212529;
  background-color: #fd7e14;
}

.swatch-yellow {
  color: #212529;
  background-color: #ffc107;
}

.swatch-green {
  color: #fff;
  background-color: #28a745;
}

.swatch-teal {
  color: #fff;
  background-color: #20c997;
}

.swatch-cyan {
  color: #fff;
  background-color: #17a2b8;
}

.swatch-white {
  color: #212529;
  background-color: #fff;
}

.swatch-gray {
  color: #fff;
  background-color: #6c757d;
}

.swatch-gray-dark {
  color: #fff;
  background-color: #343a40;
}

.swatch-primary {
  color: #fff;
  background-color: #007bff;
}

.swatch-secondary {
  color: #fff;
  background-color: #6c757d;
}

.swatch-success {
  color: #fff;
  background-color: #28a745;
}

.swatch-info {
  color: #fff;
  background-color: #17a2b8;
}

.swatch-warning {
  color: #212529;
  background-color: #ffc107;
}

.swatch-danger {
  color: #fff;
  background-color: #dc3545;
}

.swatch-light {
  color: #212529;
  background-color: #f8f9fa;
}

.swatch-dark {
  color: #fff;
  background-color: #343a40;
}

.swatch-100 {
  color: #212529;
  background-color: #f8f9fa;
}

.swatch-200 {
  color: #212529;
  background-color: #e9ecef;
}

.swatch-300 {
  color: #212529;
  background-color: #dee2e6;
}

.swatch-400 {
  color: #212529;
  background-color: #ced4da;
}

.swatch-500 {
  color: #212529;
  background-color: #adb5bd;
}

.swatch-600 {
  color: #fff;
  background-color: #6c757d;
}

.swatch-700 {
  color: #fff;
  background-color: #495057;
}

.swatch-800 {
  color: #fff;
  background-color: #343a40;
}

.swatch-900 {
  color: #fff;
  background-color: #212529;
}

.os-clipboard {
  position: relative;
  display: none;
  float: right;
}

.os-clipboard + .highlight {
  margin-top: 0;
}

.btn-clipboard {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 10;
  display: block;
  padding: 0.25rem 0.5rem;
  font-size: 75%;
  color: #818a91;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-radius: 0.25rem;
}

.btn-clipboard:hover {
  color: #fff;
  background-color: #027de7;
}

@media (min-width: 768px) {
  .os-clipboard {
    display: block;
  }
}

.hll {
  background-color: #ffc;
}

.c {
  color: #999;
}

.k {
  color: #069;
}

.o {
  color: #555;
}

.cm {
  color: #999;
}

.cp {
  color: #099;
}

.c1 {
  color: #999;
}

.cs {
  color: #999;
}

.gd {
  background-color: #fcc;
  border: 1px solid #c00;
}

.ge {
  font-style: italic;
}

.gr {
  color: red;
}

.gh {
  color: #030;
}

.gi {
  background-color: #cfc;
  border: 1px solid #0c0;
}

.go {
  color: #aaa;
}

.gp {
  color: #009;
}

.gu {
  color: #030;
}

.gt {
  color: #9c6;
}

.kc {
  color: #069;
}

.kd {
  color: #069;
}

.kn {
  color: #069;
}

.kp {
  color: #069;
}

.kr {
  color: #069;
}

.kt {
  color: #078;
}

.m {
  color: #f60;
}

.s {
  color: #d44950;
}

.na {
  color: #4f9fcf;
}

.nb {
  color: #366;
}

.nc {
  color: #0a8;
}

.no {
  color: #360;
}

.nd {
  color: #99f;
}

.ni {
  color: #999;
}

.ne {
  color: #c00;
}

.nf {
  color: #c0f;
}

.nl {
  color: #99f;
}

.nn {
  color: #0cf;
}

.nt {
  color: #2f6f9f;
}

.nv {
  color: #033;
}

.ow {
  color: #000;
}

.w {
  color: #bbb;
}

.mf {
  color: #f60;
}

.mh {
  color: #f60;
}

.mi {
  color: #f60;
}

.mo {
  color: #f60;
}

.sb {
  color: #c30;
}

.sc {
  color: #c30;
}

.sd {
  font-style: italic;
  color: #c30;
}

.s2 {
  color: #c30;
}

.se {
  color: #c30;
}

.sh {
  color: #c30;
}

.si {
  color: #a00;
}

.sx {
  color: #c30;
}

.sr {
  color: #3aa;
}

.s1 {
  color: #c30;
}

.ss {
  color: #fc3;
}

.bp {
  color: #366;
}

.vc {
  color: #033;
}

.vg {
  color: #033;
}

.vi {
  color: #033;
}

.il {
  color: #f60;
}

.css .nt + .nt,
.css .o,
.css .o + .nt {
  color: #999;
}

.language-bash::before,
.language-sh::before {
  color: #009;
  content: '$ ';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.language-powershell::before {
  color: #009;
  content: 'PM> ';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.anchorjs-link {
  font-weight: 400;
  color: rgba(0, 123, 255, 0.5);
  transition: color 0.16s linear;
}

.anchorjs-link:hover {
  color: #007bff;
  text-decoration: none;
}

.algolia-autocomplete {
  display: block !important;
  -ms-flex: 1;
  flex: 1;
}

.algolia-autocomplete .ds-dropdown-menu {
  width: 100%;
  min-width: 0 !important;
  max-width: none !important;
  padding: 0.75rem 0 !important;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}

@media (min-width: 768px) {
  .algolia-autocomplete .ds-dropdown-menu {
    width: 175%;
  }
}

.algolia-autocomplete .ds-dropdown-menu::before {
  display: none !important;
}

.algolia-autocomplete .ds-dropdown-menu [class^='ds-dataset-'] {
  padding: 0 !important;
  overflow: visible !important;
  background-color: transparent !important;
  border: 0 !important;
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestions {
  margin-top: 0 !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion {
  padding: 0 !important;
  overflow: visible !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
  padding: 0.125rem 1rem !important;
  margin-top: 0 !important;
  font-size: 0.875rem !important;
  font-weight: 500 !important;
  color: #7952b3 !important;
  border-bottom: 0 !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--wrapper {
  float: none !important;
  padding-top: 0 !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
  float: none !important;
  width: auto !important;
  padding: 0 !important;
  text-align: left !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--content {
  float: none !important;
  width: auto !important;
  padding: 0 !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--content::before {
  display: none !important;
}

.algolia-autocomplete
  .ds-suggestion:not(:first-child)
  .algolia-docsearch-suggestion--category-header {
  padding-top: 0.75rem !important;
  margin-top: 0.75rem !important;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.algolia-autocomplete .ds-suggestion .algolia-docsearch-suggestion--subcategory-column {
  display: none !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--title {
  display: block;
  padding: 0.25rem 1rem !important;
  margin-bottom: 0 !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--text {
  padding: 0 1rem 0.5rem !important;
  margin-top: -0.25rem;
  font-size: 0.875rem !important;
  font-weight: 400;
  line-height: 1.25 !important;
}

.algolia-autocomplete .algolia-docsearch-footer {
  float: none !important;
  width: auto !important;
  height: auto !important;
  padding: 0.75rem 1rem 0;
  font-size: 0.75rem !important;
  line-height: 1 !important;
  color: #767676 !important;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.algolia-autocomplete .algolia-docsearch-footer--logo {
  display: inline !important;
  overflow: visible !important;
  color: inherit !important;
  text-indent: 0 !important;
  background: 0 0 !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  color: #5f2dab;
  background-color: rgba(154, 132, 187, 0.12);
}

.algolia-autocomplete .algolia-docsearch-suggestion--text .algolia-docsearch-suggestion--highlight {
  box-shadow: inset 0 -2px 0 0 rgba(95, 45, 171, 0.5) !important;
}

.algolia-autocomplete .ds-suggestion.ds-cursor .algolia-docsearch-suggestion--content {
  background-color: rgba(208, 189, 236, 0.15) !important;
}

/*# sourceMappingURL=docs.min.css.map */
