<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title th:text="${title}">Macro Script for Visualization</title>
    <style>
        body {
            margin: 0;
            overflow: hidden;
        }

        iframe {
            position: absolute;
            left: 0px;
            width: 100%;
            top: 0px;
            height: 100%;
            border-width: 0px;
        }
    </style>
    <script src="https://our-sci.gitlab.io/npm-libs/v1/wrapper-compiled.js"></script>
</head>

<body>
    <iframe id="child" src="./sandbox.html" th:src="${dashboardBase} + ${dashboardId} + '/inner.html' + ${customQuery}"></iframe>
</body>

</html>