<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title th:text="${title}">Processor script</title>
</head>
<body>
    <div id="script-container"></div>
    <script type="text/javascript" th:utext="${result}"></script>
	<script type="text/javascript" th:src="${processorUrl}"></script>
</body>
</html>
